@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  position: static !important;
}

.backgroundCustom {
  background-image: url('/backgroundWeb.jpg');
  color: white;
}

.backgroundCustomSidebar {
  background-image: url('/Rectangle_35.jpg');
  color: white;
  background-size: cover;
}
